html {
    background: #001100;
    background-attachment: fixed;
}
body {
    font-family: monospace;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: left;
    color: #fefae0;
    line-height: 1.5;
    font-size: 16px;
}
h1,
h2 {
    text-align: center;
    letter-spacing: 10px;
}
h1 a:link,
h2 a:link {
    text-decoration: none;
    color: inherit;
}
h1 a:visited,
h2 a:visited {
    text-decoration: none;
    color: inherit;
}
a:link      {color: #6aa84f}
a:visited   {color: #6aa84f}
a:hover     {color: #6d9eeb}
a:active    {color: #b4a7d6}
table {
    border-collapse: collapse;
    margin: auto;
}
td {
    padding: 10px;
}
td:first-of-type {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
td:last-of-type {
    text-align: left;
}
.profile_picture {
    max-width: 190px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 40px;
}
.extra_emphasis {
    border: 1px solid;
}
.centre {
    text-align: center;
    margin: auto auto 50px;
}
